/* -------------- Sensible Defaults ------------------- */
body {
  font-family: "Oxygen", sans-serif;
  font-size: 16px;
  box-sizing: content-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: var(--space-2);
  margin-bottom: var(--space-2);
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  flex: 1 1 auto;
  text-align: right;
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.3rem;
}
h6 {
  font-size: 1.1rem;
}

p {
  margin-bottom: var(--space-2);
}

.flex-between {
  display: flex;
  width: 100%;
  padding: var(--space-2);
  justify-content: space-between;
  align-items: center;
}

a {
  padding: var(--space-1);
  text-decoration: none;
  text-align: center;
}

main {
  margin: var(--space-1) var(--space-2);
  border: 2px solid var(--c-border);
  min-height: 50vh;
  position: relative;
}

.bloc-counter {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
}

.bloc-dropper {
  width: 100%;
  height: 500px;
  position: relative;
  --drift: 100px;
  --start: 0;
  --height: 450px;
}

.bloc {
  height: 50px;
  width: 50px;
  border: 1px solid var(--c-border);
  animation: drop 2s 1 forwards, slide 2s ease-out 1 forwards;
  position: absolute;
}

@keyframes slide {
  0% {
    left: var(--start);
  }
  100% {
    left: calc((var(--drift) * 2) + var(--start));
  }
}

@keyframes drop {
  0% {
    transform: rotate(0deg);
    top: -100px;
    animation-timing-function: ease-in;
  }
  17% {
    transform: rotate(90deg);
    top: var(--height);
    animation-timing-function: ease-out;
  }
  34% {
    transform: rotate(180deg);
    top: calc(var(--height) * 0.33);
    animation-timing-function: ease-in;
  }
  48% {
    transform: rotate(270deg);
    top: var(--height);
    animation-timing-function: ease-out;
  }
  62% {
    top: calc(var(--height) * 0.5);
    animation-timing-function: ease-in;
  }
  72% {
    top: var(--height);
    animation-timing-function: ease-out;
  }
  82% {
    top: calc(var(--height) * 0.75);
    animation-timing-function: ease-in;
  }
  88% {
    top: calc(var(--height));
    animation-timing-function: ease-out;
  }
  94% {
    top: calc(var(--height) * 0.8);
    animation-timing-function: ease-in;
  }
  96% {
    top: calc(var(--height));
    animation-timing-function: ease-out;
  }
  98% {
    top: calc(var(--height) * 0.9);
    animation-timing-function: ease-in;
  }
  100% {
    transform: rotate(360deg);
    top: var(--height);
    animation-timing-function: ease-out;
  }
}
