/* -------------- Sensible Defaults ------------------- */
body {
  font-family: "Oxygen", sans-serif;
  font-size: 16px;
  box-sizing: content-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: var(--space-2);
  margin-bottom: var(--space-2);
  text-align: center;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  flex: 1 1 auto;
  text-align: right;
}

h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.3rem;
}
h6 {
  font-size: 1.1rem;
}

p {
  margin-bottom: var(--space-2);
}

.flex-between {
  display: flex;
  width: 100%;
  padding: var(--space-2);
  justify-content: space-between;
  align-items: center;
}

a {
  padding: var(--space-1);
  text-decoration: none;
  text-align: center;
}

main {
  margin: var(--space-1) var(--space-2);
  border: 2px solid var(--c-border);
  min-height: 50vh;
  position: relative;
}

.bloc-counter {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
}

.bloc-dropper {
  width: 100%;
  height: 500px;
  position: relative;
  --drift: 100px;
  --start: 0;
  --height: 450px;
}

.bloc {
  height: 50px;
  width: 50px;
  border: 1px solid var(--c-border);
  animation: drop 1s 1 forwards;
  position: absolute;
}

@keyframes drop {
  0% {
    transform: rotate(0deg);
    top: -100px;
    left: --start;
    animation-timing-function: ease-in;
  }
  20% {
    transform: rotate(90deg);
    top: var(--height);
    left: calc((var(--drift) * 0.66) + var(--start));
    animation-timing-function: ease-out;
  }
  40% {
    top: calc(var(--height) / 2);
    left: calc(var(--drift) + var(--start));
    animation-timing-function: ease-in;
  }
  60% {
    transform: rotate(180deg);
    top: var(--height);
    left: calc((var(--drift) * 1.5) + var(--start));
    animation-timing-function: ease-out;
  }
  75% {
    top: calc(var(--height) * 0.75);
    left: calc((var(--drift) * 1.7) + var(--start));
    animation-timing-function: ease-in;
  }
  90% {
    transform: rotate(270deg);
    top: var(--height);
    left: calc((var(--drift) * 1.8) + var(--start));
    animation-timing-function: ease-out;
  }
  95% {
    top: calc(var(--height) * 0.9);
    left: calc((var(--drift) * 1.9) + var(--start));
    animation-timing-function: ease-in;
  }
  100% {
    transform: rotate(360deg);
    top: var(--height);
    left: calc((var(--drift) * 2) + var(--start));
    animation-timing-function: ease-out;
  }
}
